{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "password_generator/style.css" %} ">
    <title>Generador de contraseñas</title>
</head>
<body>
    <main>
        <h1>Generador de contraseñas seguras</h1>
        <div class='password_container'>
            <p>{{ password }}</p>
        </div>
        <p>Ingrese la cantidad de caracteres que debe tener su contraseña, entre 4 y 99.</p>
        <p class='error'>{{error}}</p>
        <form action="{% url "password_generator" %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <div>
                    <input type="checkbox" name='include_uppercase'>
                    <label for="include_uppercase">Incluir mayúsculas</label>
                </div>
                <div>
                    <input type="checkbox" name='include_lowercase'>
                    <label for="include_lowecase">Incluir minúsuculas</label>
                </div>
                <div>
                    <input type="checkbox" name='include_digit'>
                    <label for="include_digit">Incluir digitos</label>
                </div>
                <div>
                    <input type="checkbox" name='include_special_char'>
                    <label for="include_sepecial_char">Incluir carcacteres especiales</label>
                </div>
            
            </fieldset>
            <input type="number" min='8', max='99' name='cant', value="8">
            <button type='submit'>Generar contraseña</button>
        </form>
    </main>
</body>
</html>